.grid-width
	p Greg is a Senior Experience Designer at ThoughtWorks. With 8+ years of experience, Greg has helped organisations from T-Mobile to the Singapore Government to the World Chess Federation create exceptional experiences for their users. He has built tools that help UK households understand and optimise their energy consumption and spend, simplified diverse financial applications and helped startups to bring their ideas to life.
