p I'm Greg, a product designer at ThoughtWorks.
p I helped organisations from T-Mobile to the Singapore Government to the World Chess Federation creating exceptional experiences for their users. I designed tools that help UK households understand and optimise their energy consumption and spend, simplified financial applications and helped startups bring their ideas to life.

h2.hide What
ul.what
	li
		a(href='#') Product vision
	li
		a(href='#') Design explorations
	li
		a(href='#') User research
	li
		a(href='#') Prototyping
	li
		a(href='#') Interaction design
	li
		a(href='#') Delivery

h2 Principles
ul.principles
	li It starts with the people
	li Seeing is believing
	li Sweat the details
	li Collaboration and critique bring out the best ideas
	li Decision style based on the problem
	li Form follows function (and process)

h2 Case studies
ul.case-studies
	li
		a(href='#') A new way for groups of people to order food online
	li
		a(href='#') Raising the bar for government digital services
	li
		a(href='#') Art of the possible in insurance underwriting
	li
		a(href='http://www.fastcodesign.com/1672337/pentagram-redesigns-the-chess-set-for-a-rebirth') Making the invisible visible
	li
		a(href='https://youtu.be/r64rrgbcEHo') Mobile innovation lab for the travel industry
	li
		a(href='#') Data-driven design: lessons learned

h2 Timeline
ul.timeline
	li
		.heading
			.when 2012-today
			.what
				a(href='') User experience designer
			.where ThoughtWorks
		.details …
	li
		.heading
			.when 2008-2012
			.what
				a(href='') Business analyst
			.where Accenture
		.details As part of Accenture’s Financial Services Consulting Practice and User Experience Group I helped Irish and UK banks design and build financial applications, dashboards and productivity tools.
	li
		.heading
			.when 2008
			.what
				a(href='') Information architect
			.where Kirowski Isobar
		.details I worked with telecoms and FMCG clients on process design, prototyping, functional specifications, heuristic evaluations and traffic analyses for e-commerce web apps.
	li
		.heading
			.when 2006-2007
			.what
				a(href='') Project manager
			.where AIESEC International
		.details I designed and co-ordinated delivery of an internal collaboration tool used by over 22,000 active members and alumni over 100 national and 800 university offices.
	li
		.heading
			.when 2000-2006
			.what
				a(href='') MSc Business Information Systems
			.where Corvinus University Budapest
		.details Generalist degree with focus on the intersection of business and technology covered a broad range of topics, eg. psychology, decision theory, strategy, statistics, market research, project management.
