p Greg is a Senior Experience Designer at ThoughtWorks. With 8+ years of experience, Greg has helped organisations from T-Mobile to the Singapore Government to the World Chess Federation create exceptional experiences for their users. He has built tools that help UK households understand and optimise their energy consumption and spend, simplified diverse financial applications and helped startups bring their ideas to life.

h2 What
ul
	li Research
	li Design explorations
	li Product vision
	li Interaction design
	li Prototyping
	li Delivery
	li Fine-tuning

h2 How
ul
	li It starts with the people
	li Seeing is believing
	li Sweat the details
	li Collaboration and critique bring out the best ideas
	li Decision style based on the problem
	li Form follows function (and process)

h2 Case studies
ul
	li
		a(href='#') A new way for groups of people to order food online
	li
		a(href='#') Raising the bar for government digital services
	li
		a(href='#') Art of the possible in insurance underwriting
	li
		a(href='http://www.fastcodesign.com/1672337/pentagram-redesigns-the-chess-set-for-a-rebirth') Making the invisible visible
	li
		a(href='https://youtu.be/r64rrgbcEHo') Mobile innovation lab for the travel industry
	li
		a(href='#') Data-driven design: lessons learned
