header.clearfix
	.grid-width
		a.logo(href="#")
			img(src="assets/markel-logo-white.svg")
		nav
			.primary
				ul
					li.active
						a(href="#") Dashboard
					li
						a(href="#") Enquiries
					li
						a(href="#") Quotes
					li
						a(href="#") Policies
			.utility
				ul
					li
						a(href="#") Markelintl\Tspe456
					li.search
						a(href="#").material-icons search
