h2 Notes

h3 Research
p By understanding users and their domain at a deep level, research uncovers the big opportunities and helps your organization develop a clearer picture of the needs and goals of the people at the heart of your product or service.

h3 Design exploration
p …

h3 Product vision
p …

h3 Interaction design
p "If I had more time, I would have written a shorter letter." We know that “simple” isn’t easy and that a breakthrough user experience begins with a deep understanding of people. Bringing clarity to complex situations.

h3 Prototyping
p Seeing is believing. Build prototypes to help test hypotheses, build internal momentum around a product idea, and serve as a reference for the development team.

h3 Delivery

ul
	li Compulsive problem-solver with excellent visualization, collaboration, and communication skills
	li Think more clearly when you have a whiteboard marker in hand
	li Can rapidly crank out screens

h4 What I'm up to

ul
	li Unified a spectrum of mobile and desktop financial applications.
	li Redesigned the core components of X’s software for Y.
	li Understanding the the value of speaking to a small number of users.
	li A new way groups of people pay the check while dining out.
	li Designed the company intranet and behind-the-scenes systems
