.grid-width
	h2 Stories

	h3 Research
	p Getting to great design starts with people. By understanding users and their domain at a deep level, we uncover the big opportunities and help your organization develop a clearer picture of the needs and goals of the people at the heart of your product or service.

	h3 Design exploration
	h3 Product vision

	h3 Interaction design
	p “Simple” is never easy. Our designs draw on decades of doing interaction design to deliver award-winning product experiences, from consumer apps to complex medical devices. We sweat the details, and make sure taking the step from solution to development is as seamless as possible.

	h3 Visual design
	p Your interface is your brand. Color, shape, texture, and type combine to set the tone and timbre of the user experience. Our expert visual designers work with you to find the right balance of visual elements to express and differentiate your brand, which can make the difference between disappointment and delight.

	h3 Prototyping
	p Seeing is believing. We build prototypes to help you test hypotheses in the marketplace, build internal momentum around a product idea, pitch to investors, and serve as a “living” reference for your development team. And if you want a production website or app developed and launched, we do that, too.

	h3 Delivery

	h4 We work with companies to create products and services that delight the people who use them.
	p Since 1992, we’ve designed everything from medical devices to consumer products to sophisticated business tools. Our inventive spark sets us apart, but we know that true innovation requires more than sketching a clever idea; it requires deep insight, close collaboration, and coordinated execution.
	p Our specialty has always been bringing clarity to complex situations. We know that “simple” isn’t easy and that a breakthrough user experience begins with a deep understanding of people. Our design and research methods focus our creativity, enabling us to uncover opportunities that fit your business and inspire your customers.
	p We can work with you to shape a product vision, and help you express that vision with killer presentations and demos. When you’re ready to make it real, we can work out the details and guide implementation to keep everyone headed in the right direction.

	h4 We design successful digital products by focusing on human goals.
	p At X we are passionate about bringing transformative designs and ideas to the marketplace that positively impact people’s lives. Our project teams include a combination of experienced interaction designers, visual designers, and industrial designers offering expertise in fields related to everything from health and finance to education, art and business. Behind the scenes, our professional HR and Operations team ensures that our design teams have the tools, environment, and support they need to fully serve client needs and pull off one superb project after another.

	h4 Bringing clarity to complex situations.
	p Our structured approach focuses our creative ideas on the right opportunities, providing a robust context for collaboration. We sequence our decisions in a meaningful way, so that clients are closely involved, well informed, and able to plan with confidence. And as the project’s vision emerges, we help our clients communicate internally, building in-house momentum towards delivering a successful product.

	ul
		li Compulsive problem-solvers with excellent visualization, collaboration, and communication skills
		li 4+ years of professional experience designing digital products and services
		li Think more clearly when you have a whiteboard marker in hand
		li Can rapidly crank out screens in Adobe Fireworks
		li Believe critique and collaboration can bring out the best ideas
		li

	h4 What I'm up to

	ul
		li Unified a spectrum of mobile and desktop financial applications.
		li Redesigned the core components of GE’s software for Labor and Delivery wards.
		li Personalized medicine for patients with chemo-induced anemia through a predictive oncology tool.
		li Understanding the the value of speaking to a small number of users.
		li A new way groups of people pay the check while dining out.
		li Designed the company intranet and behind-the-scenes systems
