.switch-wrapper
  .container.clearfix
    .switch-hats
      a(href='').switch Helper employer
      a(href='').active Your helpers
      a(href='') Levy
    .account-actions
      a(href='').user Tu Su Qing
      a(href='').inbox
        span Inbox
      a(href='') Sign out
