.grid-width {
	max-width: 936px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 24px 0 24px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.section-header {
	background: $grey-light;
	border-bottom: 1px solid $grey-borders;
	padding: 12px 0;
}

nav {
	.primary {
		white-space: nowrap;
		float: left;
	}
	.utility {
		white-space: nowrap;
		float: right;
	}
	ul {
		li {
			display: inline-block;
			margin-left: 24px;
		}
	}
}

.signpost {
	border-bottom: 1px solid $grey-borders;
	padding: 12px 0;
}

.main {
	position: relative;
	float: left;
	padding-top: 24px;
	padding-right: 23px;
	width: 592px;
	border-right: 1px solid $grey-borders;
}

.sidebar {
	position: relative;
	float: left;
	padding-left: 23px;
	display: block;
	margin-right: 0;
	#sticky_panel {
		top: 0;
		padding-top: 24px;
		position: absolute;
		width: 296px;
	}

}

.question {
	border-left: 4px solid #e0e0e0;
	background-color: #f7f7f7;
	padding: 16px;
	margin-bottom: 4px;
}
