.grid-width {
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.hide {
	display: none;
}

.what {
	margin-top: 2em;
	li {
		display: inline-block;
		a {
			display: inline-block;
			margin: 0 0.25em 0.25em 0;
			padding: 0.25em 0.5em;
			font-style: italic;
			background-color: $link;
			box-shadow: none;
			&:hover, &:active {
				background: $link;
			}
		}
	}
}

.principles {
	li {
		margin: 0 0 0.25em 0;
		padding: 0.25em 0.5em;
		border-left: 4px solid $link;
	}
}

.case-studies {
	li {
		margin: 0 0 0.25em 0;
		padding: 0.25em 0em;
	}
}

.timeline {
	li {
		.heading {
			margin: 0 0 0.25em 0;
			padding: 0.25em 0.5em;
			border-left: 4px solid $link;
			.when {
				float: right;
				font-size: 0.8em;
			}
			.what {
				display: inline;
			}
			.where {
				font-size: 0.9em;
			}
		}
		.details {
			padding: 1em 0;
			font-size: 0.8em;
			margin-left: 1em;
		}
	}
}
