@import url(https://fonts.googleapis.com/css?family=Poly:400,400italic);

body {
	font-family: 'Poly';
	font-size: 20px;
	line-height: 1.55;
}

h1, h2 {
		margin-top: 2em;
}

a {
	border-bottom: 2px solid $link;
  box-shadow: inset 0 -3px 0 $link;
	text-decoration: none;
	color: inherit;
}

a:hover {
	background: $link;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
