@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url(../assets/Lato-Light.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: normal;
  src: url(../assets/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(../assets/Lato-Bold.ttf);
}

@font-face {
  font-family: icomoon;
  src: url(../assets/icomoon.ttf);
}

html {font-size: 1em;}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
