doctype html
html
  head
    title= "Hello"
    link(rel="stylesheet" href="css/main.css")
    meta(charset="utf-8")
    meta(name='robots', content='noindex')
  body
    != yield
  include partials/_googleAnalytics.jade
