doctype html
html
  head
    title= "Prototypes"
    script(src="assets/jquery-1.10.1.min.js")
    script(src="assets/jquery.sticky-kit.min.js")
    link(rel="stylesheet" href="css/main.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(charset="utf-8")
  body
    != yield
