include ./partials/_header.jade

section.section-header
	.grid-width
		h2 Good day, Tim

section.signpost
	.grid-width
		ol
			li.active
				a(href="#") Applicant details
			li
				a(href="#") Rating options
			li
				a(href="#") Quote options
			li
				a(href="#") Review &amp; Bind

section.content
	.grid-width
		#sidebar
			a(href="#").button.primary Proceed to Rating
			a(href="#").button.secondary Save for later
		#main
			.question
				p Documents
					.dropzone
						.material-icons cloud_upload
						small Select files or drag & drop here
			.question
				p Name of applicant
				input(type='text' name='')
			.question
				p Registered address
				input(type='text' name='')
			.question
				p Locale
				input(type='text' name='')
			.question
				p Channel
				input(type='text' name='')
			.question
				p Broker office
				input(type='text' name='')
			.question
				p Broker contact
				input(type='text' name='')
			.question
				p Broker contact
				input(type='text' name='')
			.question
				p Broker contact
				input(type='text' name='')
			.question
				p Broker contact
				input(type='text' name='')
