include partials/_switcher
include partials/_topbar
include partials/_menubar

.main-content
  a(href='').level-up All businesses
  .card
    .card-heading
      h1 Card heading H1
    .card-nav
      ul.clearfix
        li.active Overview
        li Breakdown
        li Adjustments
        li Payments
        li Bill history
        li.last User management
    .card-body Card-body
  .card
    .card-nav
      ul.clearfix
        li.active One
        li Two
        li Three
  .card.centered.narrow
    .card-body
      h1 Card-body H1
      small Narrow, centered card
      p Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      p Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
      p
        a(href='') Back to the start
  .card.centered.narrow
      .card-body
        .icon-success
        h1 Card-body H1
        p Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        p Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        p
          a(href='') Back to the start
  .card
    .card-nav
      ul.clearfix
        li.active Overview
        li Breakdown
        li Adjustments
        li Payments
        li Bill history
        li.last User management
    .card-body
      p Hello world...

include partials/_footer
