include ./partials/_header.jade

section.section-header
	.grid-width
		h2 Good day, Tim

section.signpost
	.grid-width
		ul
			li
				a(href="#") Enquiry
		p.text Text
		p.grey-dark Grey-dark
		p.grey-borders Grey-borders 
		p.grey-light Grey-light
		p.turquoise Turquoise 
		p.turquoise-light Turquoise-light 
		p.markel-red Markel-red 
