include ./partials/_header.jade

section.section-header
	.grid-width
		h2 Good day, Tim

section.signpost
	.grid-width
		ol
			li.active
				a(href="#") Applicant details
			li
				a(href="#") Rating options
			li
				a(href="#") Quote options
			li
				a(href="#") Review &amp; Bind

section.main
	.grid-width
		.main-form
		.main-sidebar
